/*Variaveis utilizadas para facilitar o controle do projeto*/

/*Cores*/
    /*Azul escuro*/
    $cor-primaria: rgb(10, 32, 53);
    /*Amarelo ouro*/
    $cor-secundaria: rgb(212, 175, 55);
    /*off white*/
    $cor-branco-padrao: antiquewhite;
    /*Cor amarelo transparecido formulario*/
    $cor-secundaria-transparencia: rgb(248, 217, 115);
    /*Cor cinza rodape*/
    $cor-background-rodape: #282836;
    /*Cor cinza texto do rodape*/
    $cor-texto-rodape: rgba(240, 248, 255, 0.297);

/*Espaçamentos*/
    $espacamento-limpo: 0px;
    $espacamento-padrao: 1rem;

/*Escalas de tamanho*/
    $escala-total: 100%;
    $tela-inteira: 100vh;

/*Tipagem de contéudo*/
    $centralizar: center;